<div class="divide-y py-1">
  {% for block in blocks %}

  <div class="py-2">
    <table>
      <tr>
        <td class="px-4 py-1 align-top"><h3>Block Id:</h3></td>
        <td class="px-4 py-1 text-left break-all"><p>{{block.id}}</p></td>
      </tr>
      <tr>
        <td class="px-4 py-1 align-top"><h3>Valid:</h3></td>
        <td class="px-4 py-1 text-left break-all"><p>{{block.validity}}</p></td>
      </tr>
      <tr>
        <td style="white-space: nowrap" class="px-4 py-1 align-top">
          <h3>Block Data:</h3>
        </td>
        <td
          style="word-break: break-all"
          class="px-4 py-1 text-sm text-left break-all"
        >
          <p>{{block.block_data}}</p>
        </td>
      </tr>
    </table>
  </div>
  {% endfor %}
</div>
