<div class="divide-y py-1">
  {% for block in blocks %}

  <div class="py-2">
    <table>
      <tr>
        <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
          Block Id:
        </td>
        <td
          class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200 break-all"
        >
          {{block.id}}
        </td>
      </tr>
      <tr>
        <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
          Valid:
        </td>
        <td
          class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200 break-all"
        >
          {{block.validity}}
        </td>
      </tr>
      <tr>
        <td
          style="white-space: nowrap"
          class="px-4 py-1 align-top text-zinc-700 dark:text-zinc-400"
        >
          Block Data:
        </td>
        <td
          style="word-break: break-all"
          class="px-4 py-1 text-sm text-left text-zinc-500 dark:text-zinc-200 break-all"
        >
          {{block.block_data}}
        </td>
      </tr>
    </table>
  </div>
  {% endfor %}
</div>
