<div class="flex">
  <table>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Layer Id:</h4></td>
      <td class="px-4 py-1 text-left"><p>{{id}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Processed:</h4></td>
      <td class="px-4 py-1 text-left"><p>{{processed}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Hash:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{hash}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>State Hash:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{state_hash}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Applied Block Id:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{applied_block}}</p></td>
    </tr>
  </table>
</div>
