<div class="flex">
  <table>
    <tr>
      <td class="px-4 py-1">Layer Id:</td>
      <td class="px-4 py-1 text-left">{{id}}</td>
    </tr>
    <tr>
      <td class="px-4 py-1">Processed:</td>
      <td class="px-4 py-1 text-left">{{processed}}</td>
    </tr>
    <tr>
      <td class="px-4 py-1">Hash:</td>
      <td class="px-4 py-1 text-left">{{hash}}</td>
    </tr>
    <tr>
      <td class="px-4 py-1">State Hash:</td>
      <td class="px-4 py-1 text-left">{{state_hash}}</td>
    </tr>
    <tr>
      <td class="px-4 py-1">Applied Block Id:</td>
      <td class="px-4 py-1 text-left">{{applied_block}}</td>
    </tr>
  </table>
</div>
