<div class="flex">
  <table>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Layer Id:</h3></td>
      <td class="px-4 py-1 text-left"><p>{{id}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Processed:</h3></td>
      <td class="px-4 py-1 text-left"><p>{{processed}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Hash:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{hash}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>State Hash:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{state_hash}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Applied Block Id:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{applied_block}}</p></td>
    </tr>
  </table>
</div>
