<div class="divide-y">
  {% for reward in rewards %}

  <div class="py-2">
    <table>
      <tr>
        <td class="px-4 py-1 align-top"><h4>Coinbase:</h4></td>
        <td class="px-4 py-1 text-left break-all">
          <a
            class="flex flex-row hover:underline hover:pointer-events-auto"
            href="/account/{{reward.coinbase}}"
          >
            <p class="text-sm font-mono break-all">{{reward.coinbase}}</p>
          </a>
        </td>
      </tr>

      <tr>
        <td class="px-4 py-1 align-top"><h4>Total Reward:</h4></td>
        <td class="px-4 py-1 text-left"><p>{{reward.total_reward}} SMH</p></td>
      </tr>

      <tr>
        <td class="px-4 py-1 align-top"><h4>Layer Reward:</h4></td>
        <td class="px-4 py-1 text-left"><p>{{reward.layer_reward}} SMH</p></td>
      </tr>
    </table>
  </div>

  {% endfor %}
</div>
