<div class="divide-y">
  {% for reward in rewards %}

  <div class="py-2">
    <table>
      <tr>
        <td class="px-4 py-1 text-zinc-700">Coinbase:</td>
        <td class="px-4 py-1 text-left text-zinc-500">
          <a
            class="flex flex-row hover:underline hover:pointer-events-auto"
            href="/account/{{reward.coinbase}}"
          >
            <h1 class="text-sm font-mono break-all">{{reward.coinbase}}</h1>
            <img
              class="w-[16px] mx-2"
              src="/assets/images//url.svg"
              alt="Principal {{reward.coinbase}}"
            />
          </a>
        </td>
      </tr>

      <tr>
        <td class="px-4 py-1 text-zinc-700">Total Reward:</td>
        <td class="px-4 py-1 text-left text-zinc-500">
          {{reward.total_reward}} SMH
        </td>
      </tr>

      <tr>
        <td class="px-4 py-1 text-zinc-700">Layer Reward:</td>
        <td class="px-4 py-1 text-left text-zinc-500">
          {{reward.layer_reward}} SMH
        </td>
      </tr>
    </table>
  </div>

  {% endfor %}
</div>
