<div class="divide-y">
  {% for tx in txs %}

  <div class="py-2">
    <table>
      <tr>
        <td class="px-4 py-1 align-top"><h4>Block Id:</h4></td>
        <td class="px-4 py-1 text-left break-all"><p>{{tx.block}}</p></td>
      </tr>

      <tr>
        <td class="px-4 py-1 align-top"><h4>Principal:</h4></td>
        <td class="px-4 py-1 text-left">
          <a
            class="flex flex-row hover:underline hover:pointer-events-auto break-all"
            href="/account/{{tx.principal}}"
          >
            <p class="text-sm font-mono break-all">{{tx.principal}}</p>
          </a>
        </td>
      </tr>

      <tr>
        <td class="px-4 py-1 align-top"><h4>Nonce:</h4></td>
        <td class="px-4 py-1 text-left"><p>{{tx.nonce}}</p></td>
      </tr>

      <tr>
        <td class="px-4 py-1 align-top"><h4>Timestamp:</h4></td>
        <td class="px-4 py-1 text-left"><p>{{tx.timestamp}}</p></td>
      </tr>

      <tr>
        <td style="white-space: nowrap" class="px-4 py-1 align-top">
          <h4>Header:</h4>
        </td>
        <td
          style="word-break: break-all"
          class="px-4 py-1 text-sm text-left break-all"
        >
          <p>{{tx.header}}</p>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap" class="px-4 py-1 align-top">
          <h4>Data:</h4>
        </td>
        <td
          style="word-break: break-all"
          class="px-4 py-1 text-sm text-left break-all"
        >
          <p>{{tx.tx}}</p>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap" class="px-4 py-1 align-top">
          <h4>Result:</h4>
        </td>
        <td
          style="word-break: break-all"
          class="px-4 py-1 text-sm text-left break-all"
        >
          <p>{{tx.result}}</p>
        </td>
      </tr>
    </table>
  </div>

  {% endfor %}
</div>
