<div class="flex">
  <table>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Address:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{address}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Balance:</h4></td>
      <td class="px-4 py-1 text-left"><p>{{balance}} SMH</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Next Nonce:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{next_nonce}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>Template:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{template}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h4>State:</h4></td>
      <td class="px-4 py-1 text-left break-all"><p>{{state}}</p></td>
    </tr>
  </table>
</div>
