<div class="flex">
  <table>
    <tr>
      <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
        Address:
      </td>
      <td
        class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200 break-all"
      >
        {{address}}
      </td>
    </tr>
    <tr>
      <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
        Balance:
      </td>
      <td class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200">
        {{balance}} SMH
      </td>
    </tr>
    <tr>
      <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
        Next Nonce:
      </td>
      <td
        class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200 break-all"
      >
        {{next_nonce}}
      </td>
    </tr>
    <tr>
      <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
        Template:
      </td>
      <td
        class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200 break-all"
      >
        {{template}}
      </td>
    </tr>
    <tr>
      <td class="px-4 py-1 text-zinc-700 dark:text-zinc-400 align-top">
        State:
      </td>
      <td
        class="px-4 py-1 text-left text-zinc-500 dark:text-zinc-200 break-all"
      >
        {{state}}
      </td>
    </tr>
  </table>
</div>
