<div class="w-4/5">
  <div class="mb-4 border-b border-zinc-200">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-tab"
      data-tabs-toggle="#default-tab-content"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg"
          id="layer-tab"
          data-tabs-target="#layer"
          type="button"
          role="tab"
          aria-controls="layer"
          aria-selected="false"
        >
          Layer
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="blocks-tab"
          data-tabs-target="#blocks"
          type="button"
          role="tab"
          aria-controls="blocks"
          aria-selected="false"
        >
          Blocks
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="transactions-tab"
          data-tabs-target="#transactions"
          type="button"
          role="tab"
          aria-controls="transactions"
          aria-selected="false"
        >
          Transactions
        </button>
      </li>
      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="rewards-tab"
          data-tabs-target="#rewards"
          type="button"
          role="tab"
          aria-controls="rewards"
          aria-selected="false"
        >
          Rewards
        </button>
      </li>
    </ul>
  </div>
  <div id="default-tab-content">
    <div
      class="hidden p-4 rounded-lg"
      id="layer"
      role="tabpanel"
      aria-labelledby="layer-tab"
    >
      <p class="text-sm">layer tab</p>
    </div>
    <div
      class="hidden p-4 rounded-lg"
      id="blocks"
      role="tabpanel"
      aria-labelledby="blocks-tab"
    >
      <p class="text-sm">blocks tab</p>
    </div>
    <div
      class="hidden p-4 rounded-lg"
      id="transactions"
      role="tabpanel"
      aria-labelledby="transactions-tab"
    >
      <p class="text-sm">transactions tab</p>
    </div>
    <div
      class="hidden p-4 rounded-lg"
      id="rewards"
      role="tabpanel"
      aria-labelledby="rewards-tab"
    >
      <p class="text-sm">rewards tab</p>
    </div>
  </div>
</div>
