<div class="w-full flex justify-center">
  <div class="w-4/5 flex flex-col">
    <div class="mb-4 border-b">
      <ul
        class="flex flex-wrap text-center"
        id="default-tab"
        data-tabs-toggle="#default-tab-content"
        role="tablist"
      >
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 rounded-t-lg"
            id="account-tab"
            data-tabs-target="#account"
            type="button"
            role="tab"
            aria-controls="account"
            aria-selected="false"
          >
            <h3>Account</h3>
          </button>
        </li>

        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 rounded-t-lg"
            id="transactions-tab"
            data-tabs-target="#transactions"
            type="button"
            role="tab"
            aria-controls="transactions"
            aria-selected="false"
          >
            <h3>Transactions</h3>
          </button>
        </li>
        <li role="presentation">
          <button
            class="inline-block p-4 rounded-t-lg"
            id="rewards-tab"
            data-tabs-target="#rewards"
            type="button"
            role="tab"
            aria-controls="rewards"
            aria-selected="false"
          >
            <h3>Rewards</h3>
          </button>
        </li>
      </ul>
    </div>
    <div id="default-tab-content">
      <div
        class="hidden p-4 rounded-lg"
        id="account"
        role="tabpanel"
        aria-labelledby="account-tab"
      >
        <div
          class="text-sm"
          hx-get="/account/{{id}}/account"
          hx-trigger="revealed"
          hx-swap="innerHTML"
        ></div>
      </div>
      <div
        class="hidden p-4 rounded-lg"
        id="transactions"
        role="tabpanel"
        aria-labelledby="transactions-tab"
      >
        <div>
          <div class="text-sm">
            <div
              hx-trigger="load"
              hx-get="/account/{{id}}/transactions?skip=0"
              hx-swap="afterend"
            ></div>
            <p class="flex justify-center w-full pt-2">You reached the end.</p>
          </div>
        </div>
      </div>
      <div
        class="hidden p-4 rounded-lg"
        id="rewards"
        role="tabpanel"
        aria-labelledby="rewards-tab"
      >
        <div>
          <div class="text-sm">
            <div
              hx-trigger="load"
              hx-get="/account/{{id}}/rewards?skip=0"
              hx-swap="afterend"
            ></div>
            <p class="flex justify-center w-full pt-2">You reached the end.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
