<div class="flex">
  <table>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Address:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{address}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Balance:</h3></td>
      <td class="px-4 py-1 text-left"><p>{{balance}} SMH</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Next Nonce:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{next_nonce}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>Template:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{template}}</p></td>
    </tr>
    <tr>
      <td class="px-4 py-1 align-top"><h3>State:</h3></td>
      <td class="px-4 py-1 text-left break-all"><p>{{state}}</p></td>
    </tr>
  </table>
</div>
