<div>
  <div class="divide-y">
    {% for reward in rewards %}

    <div class="py-2">
      <table>
        <tr>
          <td class="px-4 py-1 align-top"><h4>Layer:</h4></td>
          <td class="px-4 py-1 text-left">
            <a
              class="flex flex-row hover:underline hover:pointer-events-auto"
              href="/layer/{{reward.layer}}"
            >
              <p class="font-mono">{{reward.layer}}</p>
            </a>
          </td>
        </tr>

        <tr>
          <td class="px-4 py-1"><h4>Total Reward:</h4></td>
          <td class="px-4 py-1 text-left">
            <p>{{reward.total_reward}} SMH</p>
          </td>
        </tr>

        <tr>
          <td class="px-4 py-1 align-top"><h4>Layer Reward:</h4></td>
          <td class="px-4 py-1 text-left">
            <p>{{reward.layer_reward}} SMH</p>
          </td>
        </tr>
      </table>
    </div>

    {% endfor %}
  </div>
  {% if rewards_count > 1 %}
  <div
    hx-trigger="intersect once"
    hx-get="/account/{{id}}/rewards?skip={{skip}}"
    hx-swap="beforebegin"
  ></div>
  {% endif %}
</div>
