<table>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Highest ATX:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{highest_atx}}
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Previous ATX:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{previous_atx}}
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Genesis Time:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{genesis_time}}
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Current Layer:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{current_layer}}
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Current Epoch:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{current_epoch}}
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Epoch Num Layers:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{epoch_num_layers}}
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden pr-2"
      >
        Layer Duration:
      </p>
    </td>
    <td>
      <p
        class="text-sm text-gray-500 dark:text-gray-40 text-ellipsis overflow-hidden"
      >
        {{layer_duration}}
      </p>
    </td>
  </tr>
</table>
