<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-zinc-600">
  <div class="rounded-md border-2 p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h3 class="font-medium">Highest ATX:</h3>
    </div>
    <div>
      <div class="text-xl font-bold truncate text-ellipsis break-all">
        {{highest_atx}}
      </div>
      <p class="text-xs text-zinc-500 truncate text-ellipsis break-all">
        {{previous_atx}}
      </p>
    </div>
  </div>

  <div class="rounded-md border-2 p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h3 class="font-medium">Genesis Time:</h3>
    </div>
    <div>
      <div class="text-2xl font-bold">{{genesis_time}}</div>
      <p class="text-xs text-zinc-500">Unix timestamp: {{genesis_timestamp}}</p>
    </div>
  </div>

  <div class="rounded-md border-2 p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h3 class="font-medium">Current Epoch:</h3>
    </div>
    <div>
      <div class="text-2xl font-bold">{{current_epoch}}</div>
      <p class="text-xs text-zinc-500">Layer: {{current_layer}}</p>
    </div>
  </div>

  <div class="rounded-md border-2 p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h3 class="font-medium">Layer Duration:</h3>
    </div>
    <div>
      <div class="text-2xl font-bold">{{layer_duration}} seconds</div>
      <p class="text-xs text-zinc-500">
        {{epoch_num_layers}} layers every epoch
      </p>
    </div>
  </div>
</div>
