<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
  <div class="rounded-lg border p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h1>Highest ATX:</h1>
      <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <button onclick="copy()">
        <svg
          class=""
          width="24px"
          height="24px"
          viewBox="0 0 1920 1920"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1919.887h1467.88V452.008H0v1467.88ZM1354.965 564.922v1242.051H112.914V564.922h1242.051ZM1920 0v1467.992h-338.741v-113.027h225.827V112.914H565.035V338.74H452.008V0H1920ZM338.741 1016.93h790.397V904.016H338.74v112.914Zm0 451.062h790.397v-113.027H338.74v113.027Zm0-225.588h564.57v-112.913H338.74v112.913Z"
            fill-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div>
      <p
        id="highest_atx"
        class="text-xl font-bold truncate text-ellipsis break-all"
      >
        {{highest_atx}}
      </p>
      <p class="text-xs truncate text-ellipsis break-all">{{previous_atx}}</p>
    </div>
  </div>

  <script>
    function copy() {
      var copyText = document.getElementById("highest_atx");

      navigator.clipboard.writeText(copyText.innerText);

      alert("Copied ATX: " + copyText.innerText);
    }
  </script>

  <div class="rounded-lg border p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h1>Genesis Time:</h1>
    </div>
    <div>
      <p class="text-2xl font-bold">{{genesis_time}}</p>
      <p class="text-xs">Unix timestamp: {{genesis_timestamp}}</p>
    </div>
  </div>

  <div class="rounded-lg border p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h1>Current Epoch:</h1>
    </div>
    <div>
      <p class="text-2xl font-bold">{{current_epoch}}</p>
      <p class="text-xs">Layer: {{current_layer}}</p>
    </div>
  </div>

  <div class="rounded-lg border p-2">
    <div class="flex flex-row items-center justify-between pb-2 space-y-0">
      <h1>Layer Duration:</h1>
    </div>
    <div>
      <p class="text-2xl font-bold">{{layer_duration}} seconds</p>
      <p class="text-xs">{{epoch_num_layers}} layers every epoch</p>
    </div>
  </div>
</div>
