<div class="bg-white">
  <div class="p-6 flex flex-col">
    <div class="p-2 lg:p-6">
      <div class="flex flex-col justify-between w-full">
        <div
          hx-swap="innerHTML"
          hx-get="/home/global_state"
          hx-trigger="load, every 10s"
        >
          <div
            class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-zinc-600"
          >
            <div class="rounded-md border-2 p-2">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h3 class="font-medium">Highest ATX:</h3>
              </div>
            </div>

            <div class="rounded-md border-2 p-2">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h3 class="font-medium">Genesis Time:</h3>
              </div>
            </div>

            <div class="rounded-md border-2 p-2">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h3 class="font-medium">Current Epoch:</h3>
              </div>
            </div>

            <div class="rounded-md border-2 p-2">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h3 class="font-medium">Layer Duration:</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mx-auto items-start justify-start w-full flex flex-col lg:flex-row p-2 lg:p-6 gap-2 lg:gap-4"
    >
      <div class="border-2 p-2 rounded-md w-full lg:w-3/5">
        <h3 class="font-medium">Latest layers</h3>
        <ul
          class="divide-y"
          hx-get="/home/layers"
          hx-trigger="load, every 10s"
        />
      </div>

      <div class="border-2 p-2 rounded-md w-full lg:w-3/5">
        <h3 class="font-medium">Latest transactions</h3>
        <ul
          class="divide-y"
          hx-get="/home/transactions"
          hx-trigger="load, every 10s"
        />
      </div>

      <div class="border-2 p-2 rounded-md w-full lg:w-3/5">
        <h3 class="font-medium">Latest rewards</h3>
        <ul
          class="divide-y"
          hx-get="/home/rewards"
          hx-trigger="load, every 10s"
        />
      </div>
    </div>
  </div>
</div>
