<div class="">
  <div class="p-6 flex flex-col">
    <div class="p-2 lg:p-6">
      <div class="flex flex-col justify-between w-full">
        <div
          hx-swap="innerHTML"
          hx-get="/home/global_state"
          hx-trigger="load, every 10s"
        >
          <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            <div class="rounded-lg border p-2 shadow-sm">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h2>Highest ATX:</h2>
              </div>
            </div>

            <div class="rounded-lg border p-2 shadow-sm">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h2>Genesis Time:</h2>
              </div>
            </div>

            <div class="rounded-lg border p-2 shadow-sm">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h2>Current Epoch:</h2>
              </div>
            </div>

            <div class="rounded-lg border p-2 shadow-sm">
              <div
                class="flex flex-row items-center justify-between pb-2 space-y-0"
              >
                <h2>Layer Duration:</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mx-auto items-start justify-start w-full flex flex-col lg:flex-row p-2 lg:p-6 gap-2 lg:gap-4"
    >
      <div class="border p-2 rounded-lg w-full lg:w-3/5 shadow-sm">
        <h2>Latest layers</h2>
        <ul
          class="divide-y"
          hx-get="/home/layers"
          hx-trigger="load, every 10s"
        ></ul>
      </div>

      <div class="border p-2 rounded-lg w-full lg:w-3/5 shadow-sm">
        <h2>Latest transactions</h2>
        <ul
          class="divide-y"
          hx-get="/home/transactions"
          hx-trigger="load, every 10s"
        ></ul>
      </div>

      <div class="border p-2 rounded-lg w-full lg:w-3/5 shadow-sm">
        <h2>Latest rewards</h2>
        <ul
          class="divide-y"
          hx-get="/home/rewards"
          hx-trigger="load, every 10s"
        ></ul>
      </div>
    </div>
  </div>
</div>
