{% for reward in rewards %}
<li class="py-2">
  <div class="flex flex-row justify-between w-full">
    <div class="flex flex-col">
      <div class="flex flex-col justify-start">
        <a
          class="flex flex-row hover:underline hover:pointer-events-auto"
          href="/layer/{{reward.layer}}"
        >
          <p class="text-sm font-mono">#{{reward.layer}}</p>
        </a>

        <a
          class="flex flex-row hover:underline hover:pointer-events-auto"
          href="/account/{{reward.coinbase}}"
        >
          <p class="text-sm font-mono">{{reward.coinbase_short}}</p>
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-2 md:gap-0 items-start font-mono">
      <div class="flex flex-col md:flex-row justify-between w-full">
        <p class="text-sm">Layer reward:</p>
        <p class="text-sm">{{reward.layer_reward}} SMH</p>
      </div>

      <div class="flex flex-col md:flex-row justify-between w-full">
        <p class="text-sm">Total reward:</p>
        <p class="text-sm">{{reward.total_reward}} SMH</p>
      </div>
    </div>
  </div>
</li>
{% endfor %}
