<footer style="margin-top: auto" class="py-4">
  <div class="container mx-auto text-center flex flex-col w-full text-sm px-6">
    <div class="flex flex-row w-full justify-between">
      <div class="flex flex-col">
        <a
          href="https://github.com/andreivcodes/smscan"
          target="_blank"
          rel="noopener noreferrer"
          class=""
        >
          <p class="mb-2">GitHub</p></a
        >
        <a
          href="https://link.depay.com/4TnaGetWKRSJxHHQEPp02I"
          target="_blank"
          rel="noopener noreferrer"
          class=""
          ><p class="mb-2">Donate</p></a
        >
      </div>
      <div class="flex flex-col">
        <a
          href="https://spacemesh.io"
          target="_blank"
          rel="noopener noreferrer"
          class=""
        >
          <p class="mb-2">spacemesh.io</p></a
        >
        <a
          href="https://discord.com/invite/yVhQ7rC"
          target="_blank"
          rel="noopener noreferrer"
          class=""
        >
          <p>Community</p></a
        >
      </div>
    </div>
    <p class="">made with ❤️ by andreiv</p>
  </div>
</footer>
