<footer style="margin-top: auto" class="bg-zinc-800 text-white py-4">
  <div class="container mx-auto text-center flex flex-col w-full text-sm">
    <div class="flex flex-row w-full justify-between">
      <div class="flex flex-col">
        <p class="mb-2">
          <a
            href="https://github.com/andreivcodes/smscan"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 hover:text-blue-300"
            >GitHub</a
          >
        </p>
        <p class="mb-2">
          <a
            href="https://github.com/andreivcodes/smscan"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 hover:text-blue-300"
            >Donate</a
          >
        </p>
      </div>
      <div class="flex flex-col">
        <p class="mb-2">
          <a
            href="https://spacemesh.io"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 hover:text-blue-300"
            >spacemesh.io</a
          >
        </p>
        <p>
          <a
            href="https://discord.com/invite/yVhQ7rC"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 hover:text-blue-300"
            >Community</a
          >
        </p>
      </div>
    </div>
    <p>made with ❤️ by andreiv</p>
  </div>
</footer>
